# dependencies
node_modules/

# production
build/
dist/

# misc
.env
.env.*
.DS_Store
*.log

# local server data
server/data/

# Vercel
.vercel/
.vercelignore

# IDEs
.vscode/
.idea/

# OS
Thumbs.db
ehthumbs.db
Desktop.ini